.content-container.padding-top0.recommendation-container
  .container.white-bg
    .row.align-start.recommendation.no-avatar
      .align-start.bootstrap-row
        .col-md-6
          .align-start.row
            .quote-text.margin-top20.padding-left20
              "
            .column.recommendation-bg.flex1.align-start
              .title.margin-top20
                We recommend GitLab for enterprises looking for an end to end DevSecOps Application
              .text.margin-top20
                Strong and tightly integrated capabilities across all core DevSecOps phases.
              .autor.margin-top20
                Sanjeev Sharma
              = image_tag "/images/devops-tools/accelerated-strategies-blue.png", class: "accelerated-img margin-top20"
        .col-md-6.flex1.right-box
          .text.margin-top20
            GitLab excels in enabling Source Code Management capabilities to be part of an end to end delivery pipeline.  Gitlab provides a complete DevOps Application with built-in planning, management and CI/CD capabilities, surrounding and adding to its deep Source Code Management capabilities.
